*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
b{
color: red;    
} 
body{
    background-color:snow;
}
#separator{
    width: 100%;
    height: 10vh; 
}
#bg1{
    position: relative;
    width: 100%;
    height: 30vh;
    background-color:rgb(32, 119, 173);
}
#myLogo{
    position: absolute;
    width: 20vh;
    height: 20vh;
    margin-top: -180px;
}
#title{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    margin-top: -150px;
    margin-left: 350px;
    color: snow;
}
ul{
    display: flex;   
}
li{
    display: block;
    font-size: 20px;
    color:black;
   padding-left:30px;
   font-family: 'Permanent Marker', cursive;  
}
.myNav{
text-decoration: none;
}
li:hover{
color:rgb(32, 119, 173);    ;
}
#commercials{
width: 100%;
height: 10vh;
margin-top:-5px;
background-color:black;
color: snow;
text-align: center;
font-family: 'Permanent Marker', cursive; 
position: sticky;
top: 0;
z-index: 100;
}
#bg2{
    width: 100%;
    height: 60vh;
}
#headLine{
    font-family: 'Permanent Marker', cursive;   
    margin-left: 550px;
    font-size: 50px;
    text-decoration: underline;
}
#myItems{
    font-family: 'Permanent Marker', cursive;   
    margin-left: 150px;
    margin-top: 15px;
    font-size: 25px;
    text-decoration: underline;
}
.firstImage{
    width:30%;
    height: 350px;
    margin-top: 20px;
    border: solid black 3px;
}
.firstImage:hover{
transform: scale(1.07);
}
.info{
font-size:20px;
margin-top: 20px;
}
.but{
font-family: 'Permanent Marker', cursive;
background-color:whitesmoke;
border-radius:50%;
border: none;
color:black;
padding: 15px 15px;
text-decoration: none;
display: inline-block;
font-size: 15px;
cursor: pointer;
margin-top: 20px;
margin-left: -5px;
}
.but:hover{
background-color: black;
color: snow;
}
.prev{
cursor: pointer;
position: absolute;
padding: 12px;
margin-top:12%;
margin-left:-1%;
color: white;
transition: 0.6s ease;
border-radius: 50%;
z-index: 5;
border: none;
 } 
.next{
cursor: pointer;
position: absolute;
padding: 12px;
margin-top:12%;
margin-left:-1%;
color: white;
transition: 0.6s ease;
border-radius: 50%;
z-index:10;
border: none;
}          
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
.cartShoppingTable{
font-family: 'Permanent Marker', cursive;
display:grid;
grid-template-columns: auto auto auto;
text-align: center;
border-bottom: 1px solid grey;
margin-left: 100px;
}

.amount{
    font-family: 'Permanent Marker', cursive;
    background-color:whitesmoke;
    border-radius: 2rem;
    border: none;
    color:black;
    padding: 15px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 18px;
    cursor: pointer;
}
.amount:hover{
    color:white;
    background-color: black;
}
#totalPrice{
font-family: 'Permanent Marker', cursive;
font-size: 30px;
margin-bottom: 20px;
text-align: center;    
}
#separator5{
    width: 100%;
    height: 15vh;
    margin-top:-15px;
}
#bg7{
    position: relative;
    width: 100%;
    margin-top: -10px;
    height:100vh;
}
#contact{
    position: absolute;
    margin-top: -580px;
    margin-left: 780px;
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;

}
#info1{
position: absolute;
font-family: 'Permanent Marker', cursive;
margin-top: -480px;
margin-left: 700px;
font-size: 30px;
}
#info2{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    margin-top: -430px;
    margin-left: 800px;
    color: whitesmoke;
}
#info3{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    margin-top: -400px;
    margin-left: 590px;
    color:whitesmoke;
}
input[type=email]{
    width: 50%;
    color: tomato;
    padding: 12px 20px;
    margin-top: -330px;
    margin-left: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
font-family: 'Permanent Marker', cursive;
font-size: 20px;
  }
  
input[type=submit] {
    width: 10%;
    color:tomato;
    background-color: white;
    padding: 12px 18px;
    margin-top:-330px;
    margin-left: 1100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
font-family: 'Permanent Marker', cursive;
font-size: 20px;
}
  
  input[type=submit]:hover {
transform: scale(1.07);
}
#myLogo1{
    position: absolute;
    margin-top: -280px;
    margin-left: 920px;
    width: 150px;
    height: 150px;  
}
.B{
    color:tomato;
}
.socialMedia{
    position: absolute;
    color: snow;
    margin-top: -125px;
    margin-left: 950px;
    font-size: 20px;
} 
#separator6{
    width: 100%;
    height: 15vh;
    margin-top:-100px;
}
#mainPage{
    position: absolute;
    text-decoration: none;
    color:snow;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    margin-top: 15px;
}
#mainPage:hover{
    color: tomato;
}
