*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    position: relative;
    background-image:url("../images/4.jpg");
    background-color:whitesmoke;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment:cover;
}
#myLogo{
    margin-top: 10px;
    width: 150px;
    height: 150px;
}
ul{   
    display: flex;
    position:fixed;
    top: 0;
    z-index: 100; 
}
li{
    font-family: 'Permanent Marker', cursive;
    display: block;
    font-size: 20px;
    color:snow;
    margin-left:30px;
}
#separator1{
    width: 100%;
    height: 15vh;
    margin-top:430px;
}

.myNav{
    text-decoration: none;
}
li:hover{
transform: scale(1.10); 
}
#bg2{
    position: relative;
    width: 100%;
    height:150vh;
    margin-top:-5px;
    
}
section #about{
    position: absolute;
    background-color:white;
    width: 45%;
    height: 150vh;
    margin-top:-870px;
    font-family: 'Permanent Marker', cursive;
    font-size: 21px;
    color:green;
}
b{
    font-size:40px;
}
#separator2{
    width: 100%;
    height: 15vh;
    margin-top:-15px;
}
#bg3{
    position: relative;
    width: 50%;
    height:150vh;
    margin-top:-5px; 
}
#category{
    position: absolute;
    background-image: linear-gradient(to right,rgb(255, 138, 71) 50%,rgb(0, 119, 255) 50%);
    width: 100%;
    height: 150vh;
    margin-top: -870px;
    opacity:0.8;
}
#category1{
    position: absolute;
    font-size: 70px;
    color:snow;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    margin-left: 20px;
    margin-top:280px;
}
#category1:hover{
    animation-duration: .5s;
    animation-name:category1;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
}
@keyframes category1{
    0%{}
    100%{transform: scale(1.05);}
}
#category2{
    position: absolute;
    font-size: 70px;
    color:snow;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    margin-top:-800px;
    margin-left: 650px;
}
#category2:hover{
    animation-duration:.5s;
    animation-name:category2;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
}
@keyframes category2{
    0%{}
    100%{transform: scale(1.05);}
}
#separator3{
    width: 100%;
    height: 20vh;
    margin-top:-30px;
}
#bg4{
    position: relative;
    width: 50%;
    height:150vh;
    margin-top:-5px;
    margin-left:623px; 
}
#categorys{
    position: absolute;
    background-image: linear-gradient(to right,rgb(226, 82, 82) 50%,rgb(82, 184, 162) 50%);
    width: 100%;
    height: 150vh;
    margin-top: -870px;
    opacity: 0.7;

}
#category3{
    position: absolute;
    font-size:70px;
    color:snow;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 100px;
}
#category3:hover{
    animation-duration: .5s;
    animation-name:category3;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
}
@keyframes category3{
    0%{}
    100%{transform: scale(1.05);}
}
#category4{
    position: absolute;
    font-size: 70px;
    color:snow;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    margin-top:-530px;
    margin-left: 700px;
}
#category4:hover{
    animation-duration:.5s;
    animation-name:category4;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
}
@keyframes category4{
    0%{}
    100%{transform: scale(1.05);}
}
#bg5{
    width: 100%;
    height: 100vh;
}
#frase1{
    position: absolute;
    font-size: 50px;
    color:snow;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    margin-top:630px;
    margin-left: 40px;
    text-shadow: 10px 10px tomato;
    animation-duration: .7s;
animation-name:frase1;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-timing-function: linear;
animation-delay:1s;
text-align: center;
}
@keyframes frase1{
    0%{}
    100%{transform: scale(1.05);}
}
#frase2{
    position: absolute;
    font-size: 50px;
    color:snow;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    margin-top:-250px;
    margin-left: 700px;
    text-shadow: 10px 10px rgb(0, 132, 255);
    animation-duration: .7s;
animation-name:frase2;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-timing-function: linear;
animation-delay:1s; 
text-align: center;  
}
@keyframes frase2{
    0%{}
    100%{transform: scale(1.05);}
}
#frase3{
    position: absolute;
    font-size: 50px;
    color:snow;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    margin-top:630px;
    margin-left: 40px;
    text-shadow: 10px 10px rgb(207, 36, 36);
    animation-duration: .7s;
animation-name:frase3;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-timing-function: linear;
animation-delay:1s;
text-align: center;   
}
@keyframes frase3{
    0%{}
    100%{transform: scale(1.05);}
}
#frase4{
    position: absolute;
    font-size: 50px;
    color:snow;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    margin-top:-220px;
    margin-left: 750px;
    text-shadow: 10px 10px rgb(86, 133, 86) ;
    animation-duration: .7s;
animation-name:frase4;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-timing-function: linear;
animation-delay:1s;
text-align: center;     
}
@keyframes frase4{
    0%{}
    100%{transform: scale(1.05);}
}
#separator4{
    width: 100%;
    height: 15vh;
    margin-top:-15px;
}
#bg5{
    position: relative;
    background-color:rgb(241, 143, 62);
    width: 100%;
    height: 100vh;
    margin-top: -4px;
    opacity: 0.8;

}
#bg6{
    position:absolute;
    width: 50%;
    height: 100vh;
    margin-top: -4px;
}
#quote{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    margin-left:640px;
    color:whitesmoke;
}
#icon{
    position: absolute;
    width: 20%;
    height: 30vh;
    margin-left: 800px;
    margin-top: 100px;
}
#quotes{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    margin-top: 300px;
    margin-left: 650px;
    font-size: 20px;
}
#but{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    margin-top: 500px;
    margin-left: 830px;
    font-size: 20px;
    background-color:whitesmoke;
    border: none;
    color:black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#separator5{
    width: 100%;
    height: 15vh;
    margin-top:-15px;
}
#bg7{
    position: relative;
    width: 100%;
    margin-top: -10px;
}
#contact{
    position: absolute;
    margin-top: -700px;
    margin-left: 800px;
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;

}
#info1{
position: absolute;
font-family: 'Permanent Marker', cursive;
margin-top: -550px;
margin-left: 650px;
}
#info2{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    margin-top: -480px;
    margin-left: 800px;
    color: whitesmoke;
}
#info3{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    margin-top: -400px;
    margin-left: 590px;
    color:whitesmoke;
}
input[type=email]{
    width: 50%;
    color: tomato;
    padding: 12px 20px;
    margin-top: -330px;
    margin-left: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
font-family: 'Permanent Marker', cursive;
font-size: 20px;
  }
  
input[type=submit] {
    width: 10%;
    color:tomato;
    background-color: white;
    padding: 12px 18px;
    margin-top:-330px;
    margin-left: 1100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
font-family: 'Permanent Marker', cursive;
font-size: 20px;
}
  
  input[type=submit]:hover {
transform: scale(1.07);
}
#myLogo1{
    position: absolute;
    margin-top: -280px;
    margin-left: 920px;
    width: 150px;
    height: 150px;  
}
.B{
    color:tomato;
}
.socialMedia{
    position: absolute;
    color: snow;
    margin-top: -125px;
    margin-left: 950px;
    font-size: 20px;
} 
#separator6{
    width: 100%;
    height: 15vh;
    margin-top:-100px;
}
#mainPage{
    position: absolute;
    text-decoration: none;
    color:snow;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    margin-top: 15px;
}
#mainPage:hover{
    color: tomato;
}
@media(max-width: 1024px) {
    body {
      background-color: snow;
      width: 100%;
      position: relative;
      background-image:url("../images/4.jpg");
      background-color:whitesmoke;
      background-repeat: no-repeat;
      background-size:contain;
      background-attachment:cover;
    }
    ul{   
        display: flex;
        position:fixed;
        top: 0;
        z-index: 100; 
    }
    li{
        font-family: 'Permanent Marker', cursive;
        display: block;
        font-size: 18px;
        color:snow;
        margin-left:11px;
        margin-top: 5px;
    } 
    #separator1{
        width: 100%;
        height: 15vh;
        margin-top:330px;
    }
    #bg2{
        position: relative;
        width: 100%;
        height:150vh;
        margin-top:-5px;
        
    }
    section #about{
        position: absolute;
        background-color:white;
        width: 50%;
        height: 151vh;
        margin-top:-603px;
        font-family: 'Permanent Marker', cursive;
        font-size: 16px;
        color:green;
    } 
    #separator2{
        width: 100%;
        height: 15vh;
        margin-top:-15px;
    }
    #bg3{
        position: relative;
        width: 50%;
        height:150vh;
        margin-top:-5px; 
    }
    #category{
        position: absolute;
        background-image: linear-gradient(to right,rgb(255, 138, 71) 50%,rgb(0, 119, 255) 50%);
        width: 100%;
        height:151vh;
        margin-top: -603px;
        opacity:0.8;
    } 
    #category1{
        position: absolute;
        font-size: 50px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-left: 40px;
        margin-top:250px;
    } 
    #category2{
        position: absolute;
        font-size: 50px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-450px;
        margin-left: 550px;
    }
    #separator3{
        width: 100%;
        height: 15vh;
        margin-top:-20px;
    }
    #bg4{
        position: relative;
        width: 50%;
        height:150vh;
        margin-top:-5px;
        margin-left:510px; 
    }
    #categorys{
        position: absolute;
        background-image: linear-gradient(to right,rgb(226, 82, 82) 50%,rgb(82, 184, 162) 50%);
        width: 100%;
        height: 151vh;
        margin-top: -603px;
        opacity: 0.7;
    
    }
    #category3{
        position: absolute;
        font-size:44px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-left: 30px;
        margin-top: 100px;
    }
    #category4{
        position: absolute;
        font-size: 44px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-300px;
        margin-left: 600px;
    } 
    #frase1{
        position: absolute;
        font-size: 35px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:450px;
        margin-left: 130px;
        text-shadow: 10px 10px tomato;
        animation-duration: .7s;
    animation-name:frase1;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
    text-align: center;
    }
    #frase2{
        position: absolute;
        font-size: 35px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-170px;
        margin-left: 600px;
        text-shadow: 10px 10px rgb(0, 132, 255);
        animation-duration: .7s;
    animation-name:frase2;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s; 
    text-align: center;  
    } 
    #frase3{
        position: absolute;
        font-size: 35px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:420px;
        margin-left: 70px;
        text-shadow: 10px 10px rgb(207, 36, 36);
        animation-duration: .7s;
    animation-name:frase3;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
    text-align: center;   
    }
    #frase4{
        position: absolute;
        font-size: 35px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-170px;
        margin-left: 620px;
        text-shadow: 10px 10px rgb(86, 133, 86) ;
        animation-duration: .7s;
    animation-name:frase4;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
    text-align: center;     
    }
    #separator4{
        width: 100%;
        height: 15vh;
        margin-top:-15px;
    }
    #bg5{
        position: relative;
        background-color:rgb(241, 143, 62);
        width: 100%;
        height: 100vh;
        margin-top: -4px;
        opacity: 0.8;
    
    }
    #bg6{
        position:absolute;
        width: 50%;
        height:100vh;
        margin-top: -4px;
    } 
    #quote{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        font-size: 21px;
        margin-left:550px;
        color:whitesmoke;
    }
    #icon{
        position: absolute;
        width: 30%;
        height: 30vh;
        margin-left: 620px;
        margin-top: 90px;
    }
    #quotes{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        margin-top: 350px;
        margin-left: 360px;
        font-size: 20px;
    }
    #but{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        margin-top: 320px;
        margin-left: 650px;
        font-size: 40px;
        background-color:whitesmoke;
        border: none;
        color:black;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
    }
    #separator5{
        width: 100%;
        height: 15vh;
        margin-top:-15px;
    }
    #bg7{
        position: relative;
        width: 100%;
    }
    #contact{
        position: absolute;
        margin-top: -560px;
        margin-left: 650px;
        color: whitesmoke;
        font-family: 'Permanent Marker', cursive;
        font-size: 70px;
    
    } 
    #info1{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        margin-top: -450px;
        margin-left: 570px;
        }
        .B{
            color:tomato;
            font-size: 30px;
        }
        #info2{
            position: absolute;
            font-family: 'Permanent Marker', cursive;
            margin-top: -400px;
            margin-left: 650px;
            color: whitesmoke;
        }
        #info3{
            position: absolute;
            font-family: 'Permanent Marker', cursive;
            margin-top: -350px;
            margin-left: 435px;
            color:whitesmoke;
            font-size: 17px;
        }
        input[type=email]{
            width: 50%;
            color: tomato;
            padding: 12px 20px;
            margin-top: -300px;
            margin-left: 460px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            position: absolute;
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;
          }
          
        input[type=submit] {
            width: 10%;
            color:tomato;
            background-color: white;
            padding: 12px 18px;
            margin-top:-300px;
            margin-left: 865px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            position: absolute;
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;
        }
        #myLogo1{
            position: absolute;
            margin-top: -255px;
            margin-left: 780px;
            width: 120px;
            height: 120px;  
        }
    .socialMedia{
        position: absolute;
        color: snow;
        margin-left: 800px;
        font-size: 20px;
        margin-top: -140px;
    } 
    #separator6{
        width: 100%;
        height: 25vh;
    }
    #mainPage{
        position: absolute;
        text-decoration: none;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        font-size: 15px;
        margin-top: 20px;
    }       
  }
  @media(max-width: 770px) {
    body {
      background-color: snow;
      width: 100%;
      position: relative;
      background-image:url("../images/4.jpg");
      background-color:whitesmoke;
      background-repeat: no-repeat;
      background-size:contain;
      background-attachment:cover;
    }
    #myLogo{
        margin-top: 10px;
        width: 100px;
        height: 100px;
    }
    ul{   
        display: flex;
        position:fixed;
        top: 0;
        z-index: 100; 
    }
    li{
        font-family: 'Permanent Marker', cursive;
        display: block;
        font-size: 14px;
        color:snow;
        margin-left:7px;
        margin-top: 5px;
    } 
    #separator1{
        width: 100%;
        height:20vh;
        margin-top:270px;
    }
    #bg2{
        position: relative;
        width: 100%;
        height:150vh;
        margin-top:-40px;
        
    }
    section #about{
        position: absolute;
        background-color:white;
        width: 50%;
        height: 150vh;
        margin-top:-603px;
        font-family: 'Permanent Marker', cursive;
        font-size: 15px;
        color:green;
    } 
    b{
        font-size:24px;
    }
    #separator2{
        width: 100%;
        height: 15vh;
        margin-top:-15px;
    }
    #bg3{
        position: relative;
        width: 50%;
        height:150vh;
        margin-top:-5px; 
    }
    #category{
        position: absolute;
        background-image: linear-gradient(to right,rgb(255, 138, 71) 50%,rgb(0, 119, 255) 50%);
        width: 100%;
        height:152vh;
        margin-top: -603px;
        opacity:0.8;
    } 
    #category1{
        position: absolute;
        font-size: 40px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-left: 40px;
        margin-top:250px;
    } 
    #category2{
        position: absolute;
        font-size: 40px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-550px;
        margin-left: 420px;
    }
    #separator3{
        width: 100%;
        height: 15vh;
        margin-top:-20px;
    }
    #bg4{
        position: relative;
        width: 50%;
        height:150vh;
        margin-top:-5px;
        margin-left:382px; 
    }
    #categorys{
        position: absolute;
        background-image: linear-gradient(to right,rgb(226, 82, 82) 50%,rgb(82, 184, 162) 50%);
        width: 100%;
        height: 152vh;
        margin-top: -603px;
        opacity: 0.7;
    
    }
    #category3{
        position: absolute;
        font-size:40px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-left: 30px;
        margin-top: 50px;
    }
    #category4{
        position: absolute;
        font-size: 40px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-350px;
        margin-left: 450px;
    } 
    #frase1{
        position: absolute;
        font-size: 30px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:460px;
        margin-left: 100px;
        text-shadow: 10px 10px tomato;
        animation-duration: .7s;
    animation-name:frase1;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
    text-align: center;
    }
    #frase2{
        position: absolute;
        font-size: 30px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-140px;
        margin-left: 440px;
        text-shadow: 10px 10px rgb(0, 132, 255);
        animation-duration: .7s;
    animation-name:frase2;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s; 
    text-align: center;  
    } 
    #frase3{
        position: absolute;
        font-size: 30px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:450px;
        margin-left: 50px;
        text-shadow: 10px 10px rgb(207, 36, 36);
        animation-duration: .7s;
    animation-name:frase3;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
    text-align: center;   
    }
    #frase4{
        position: absolute;
        font-size: 30px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-140px;
        margin-left: 450px;
        text-shadow: 10px 10px rgb(86, 133, 86) ;
        animation-duration: .7s;
    animation-name:frase4;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
    text-align: center;     
    }
    #separator4{
        width: 100%;
        height: 15vh;
        margin-top:-15px;
    }
    #bg5{
        position: relative;
        background-color:rgb(241, 143, 62);
        width: 100%;
        height: 100vh;
        margin-top: -4px;
        opacity: 0.8;
    
    }
    #bg6{
        position:absolute;
        width: 50%;
        height:100vh;
        margin-top: -4px;
    } 
    #quote{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        font-size: 18px;
        margin-left:400px;
        color:whitesmoke;
    }
    #icon{
        position: absolute;
        width: 20%;
        height: 30vh;
        margin-left: 500px;
        margin-top: 90px;
    }
    #quotes{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        margin-top: 250px;
        margin-left: 290px;
        font-size: 15px;
    }
    #but{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        margin-top: 320px;
        margin-left: 500px;
        font-size: 14px;
        background-color:whitesmoke;
        border: none;
        color:black;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }
    #separator5{
        width: 100%;
        height: 15vh;
        margin-top:-15px;
    }
    #bg7{
        position: relative;
        width: 100%;
    }
    #contact{
        position: absolute;
        margin-top: -440px;
        margin-left: 520px;
        color: whitesmoke;
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
    
    } 
    #info1{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        margin-top: -400px;
        margin-left: 400px;
        }
        .B{
            color:tomato;
            font-size: 24px;
        }
        #info2{
            position: absolute;
            font-family: 'Permanent Marker', cursive;
            margin-top: -380px;
            margin-left: 450px;
            color: whitesmoke;
        }
        #info3{
            position: absolute;
            font-family: 'Permanent Marker', cursive;
            margin-top: -350px;
            margin-left: 400px;
            color:whitesmoke;
            font-size: 17px;
        }
        input[type=email]{
            width: 50%;
            color: tomato;
            padding: 12px 20px;
            margin-top: -280px;
            margin-left: 350px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            position: absolute;
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;
          }
          
        input[type=submit] {
            width: 10%;
            color:tomato;
            background-color: white;
            padding: 12px 18px;
            margin-top:-280px;
            margin-left: 650px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            position: absolute;
        font-family: 'Permanent Marker', cursive;
        font-size: 16px;
        }
        #myLogo1{
            position: absolute;
            margin-top: -230px;
            margin-left: 550px;
            width: 90px;
            height:90px;  
        }
    .socialMedia{
        position: absolute;
        color: snow;
        margin-left: 580px;
        font-size: 10px;
        margin-top: -140px;
    } 
    #separator6{
        width: 100%;
        height: 20vh;
    }
    #mainPage{
        position: absolute;
        text-decoration: none;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        font-size: 10px;
        margin-top: 20px;
        margin-left: 10px;
    }       
  }  
  @media only screen and (max-width: 426px) {
    body {
      background-color: snow;
      width: 100%;
      position: relative;
      background-image:url("../images/4.jpg");
      background-color:whitesmoke;
      background-repeat: no-repeat;
      background-size:contain;
      background-attachment:cover;
    }
    #myLogo{
        margin-top: 10px;
        width: 60px;
        height: 60px;
    }
    ul{   
        display: flex;
        position:fixed;
        top: 0;
        z-index: 100; 
    }
    li{
        font-family: 'Permanent Marker', cursive;
        display: block;
        font-size: 7px;
        color:snow;
        margin-left:7px;
        margin-top: 5px;
    } 
    #separator1{
        width: 100%;
        height:15vh;
        margin-top:130px;
    }
    #bg2{
        position: relative;
        width: 100%;
        height:100vh;
        margin-top:-5px;
        
    }
    section #about{
        position: absolute;
        background-color:white;
        width: 50%;
        height: 102vh;
        margin-top:-403px;
        font-family: 'Permanent Marker', cursive;
        font-size: 9px;
        color:green;
    } 
    b{
        font-size:18px;
    }
    #separator2{
        width: 100%;
        height: 15vh;
        margin-top:-15px;
    }
    #bg3{
        position: relative;
        width: 50%;
        height:100vh;
        margin-top:-5px; 
    }
    #category{
        position: absolute;
        background-image: linear-gradient(to right,rgb(255, 138, 71) 50%,rgb(0, 119, 255) 50%);
        width: 100%;
        height:102vh;
        margin-top: -403px;
        opacity:0.8;
    } 
    #category1{
        position: absolute;
        font-size: 20px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-left: 30px;
        margin-top:230px;
    } 
    #category2{
        position: absolute;
        font-size: 20px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-300px;
        margin-left: 225px;
    }
    #separator3{
        width: 100%;
        height: 15vh;
        margin-top:-20px;
    }
    #bg4{
        position: relative;
        width: 50%;
        height:101vh;
        margin-top:-5px;
        margin-left:212px; 
    }
    #categorys{
        position: absolute;
        background-image: linear-gradient(to right,rgb(226, 82, 82) 50%,rgb(82, 184, 162) 50%);
        width: 100%;
        height: 102vh;
        margin-top: -408px;
        opacity: 0.7;
    
    }
    #category3{
        position: absolute;
        font-size:20px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-left: 30px;
        margin-top: 100px;
    }
    #category4{
        position: absolute;
        font-size: 20px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-250px;
        margin-left: 270px;
    } 
    #frase1{
        position: absolute;
        font-size: 20px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:310px;
        margin-left: 40px;
        text-shadow: 10px 10px tomato;
        animation-duration: .7s;
    animation-name:frase1;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
    text-align: center;
    }
    #frase2{
        position: absolute;
        font-size: 20px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-90px;
        margin-left: 230px;
        text-shadow: 10px 10px rgb(0, 132, 255);
        animation-duration: .7s;
    animation-name:frase2;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s; 
    text-align: center;  
    } 
    #frase3{
        position: absolute;
        font-size: 20px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:300px;
        margin-left: 10px;
        text-shadow: 10px 10px rgb(207, 36, 36);
        animation-duration: .7s;
    animation-name:frase3;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
    text-align: center;   
    }
    #frase4{
        position: absolute;
        font-size: 20px;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        margin-top:-98px;
        margin-left: 230px;
        text-shadow: 10px 10px rgb(86, 133, 86) ;
        animation-duration: .7s;
    animation-name:frase4;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay:1s;
    text-align: center;     
    }
    #separator4{
        width: 100%;
        height: 15vh;
        margin-top:-15px;
    }
    #bg5{
        position: relative;
        background-color:rgb(241, 143, 62);
        width: 100%;
        height: 100vh;
        margin-top: -4px;
        opacity: 0.8;
    
    }
    #bg6{
        position:absolute;
        width: 50%;
        height:100vh;
        margin-top: -4px;
    } 
    #quote{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        font-size: 11px;
        margin-left:220px;
        color:whitesmoke;
    }
    #icon{
        position: absolute;
        width: 20%;
        height: 30vh;
        margin-left: 280px;
        margin-top: 90px;
    }
    #quotes{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        margin-top: 250px;
        margin-left: 150px;
        font-size: 10px;
    }
    #but{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        margin-top: 320px;
        margin-left: 230px;
        font-size: 12px;
        background-color:whitesmoke;
        border: none;
        color:black;
        padding: 12px 30px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }
    #separator5{
        width: 100%;
        height: 15vh;
        margin-top:-15px;
    }
    #bg7{
        position: relative;
        width: 100%;
    }
    #contact{
        position: absolute;
        margin-top: -240px;
        margin-left: 225px;
        color: whitesmoke;
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;
    
    } 
    #info1{
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        margin-top: -220px;
        margin-left: 200px;
        }
        .B{
            color:tomato;
            font-size: 10px;
        }
        #info2{
            position: absolute;
            font-family: 'Permanent Marker', cursive;
            margin-top: -200px;
            margin-left: 250px;
            color: whitesmoke;
        }
        #info3{
            position: absolute;
            font-family: 'Permanent Marker', cursive;
            margin-top: -180px;
            margin-left: 200px;
            color:whitesmoke;
            font-size: 10px;
        }
        input[type=email]{
            width: 30%;
            color: tomato;
            padding: 10px 14px;
            margin-top: -140px;
            margin-left: 230px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            position: absolute;
        font-family: 'Permanent Marker', cursive;
        font-size: 10px;
          }
          
        input[type=submit] {
            width: 10%;
            color:tomato;
            background-color: white;
            padding: 10px 12px;
            margin-top:-140px;
            margin-left: 310px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            position: absolute;
        font-family: 'Permanent Marker', cursive;
        font-size: 8px;
        }
        #myLogo1{
            position: absolute;
            margin-top: -120px;
            margin-left: 380px;
            width: 50px;
            height:50px;  
        }
    .socialMedia{
        position: absolute;
        color: snow;
        margin-left:2px;
        font-size: 10px;
        margin-top: -140px;
    } 
    #separator6{
        width: 100%;
        height: 20vh;
    }
    #mainPage{
        position: absolute;
        text-decoration: none;
        color:snow;
        font-family: 'Permanent Marker', cursive;
        font-size: 10px;
        margin-top: 20px;
        margin-left: 10px;
    }       
  }  
