* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: snow;
  }
  #separator {
    width: 100%;
    height: 10vh;
  }
  #bg1 {
    position: relative;
    width: 100%;
    height: 30vh;
    background-color:darkblue;
    opacity: 0.8;
  }
  #myLogo {
    position: absolute;
    width: 20vh;
    height: 20vh;
    margin-top: -180px;
  }
  #title {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 70px;
    margin-top: -150px;
    margin-left: 400px;
    color: snow;
  }
  ul {
    display: flex;
  }
  li {
    display: block;
    font-size: 20px;
    color: black;
    padding-left: 30px;
    font-family: "Permanent Marker", cursive;
  }
  .myNav {
    text-decoration: none;
  }
  li:hover {
      color:darkblue;
      opacity: 0.8;
  }
  #info1 {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    margin-left: 400px;
    margin-top: -320px;
    font-size: 30px;
  }
  #info2 {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    margin-top: -310px;
    margin-left: 470px;
    color: tomato;
  }
  #info3 {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    margin-top: -310px;
    margin-left: 300px;
    color: tomato;
  }
  input#price[type="number"] {
    width: 30%;
    color: tomato;
    padding: 12px 20px;
    margin-top: 560px;
    margin-left: 440px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
  }
  
  input[type="submit"] {
    width: 20%;
    color: tomato;
    background-color: white;
    padding: 12px 18px;
    margin-top: 820px;
    margin-left: 490px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
  }
  input#description[type="text"] {
    width: 30%;
    color: tomato;
    background-color: white;
    padding: 12px 18px;
    margin-top: 620px;
    margin-left: 440px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #ccc;
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
  }
#category{
    width: 30%;
    color: tomato;
    background-color: white;
    padding: 12px 18px;
    margin-top: 360px;
    margin-left: 440px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #ccc;
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
  }
#size{
    width: 30%;
    color: tomato;
    background-color: white;
    padding: 12px 18px;
    margin-top: 395px;
    margin-left: 440px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #ccc;
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
  }
  input#name[type="text"] {
    width: 30%;
    color: tomato;
    background-color: white;
    padding: 12px 18px;
    margin-top: 500px;
    margin-left: 440px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
  }
  input#img1[type="url"] {
    width: 30%;
    color: tomato;
    background-color: white;
    padding: 12px 18px;
    margin-top: 680px;
    margin-left: 440px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
  }
  input#img2[type="url"] {
    width: 30%;
    color: tomato;
    background-color: white;
    padding: 12px 18px;
    margin-top: 740px;
    margin-left: 440px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
  }
  input[type="submit"]:hover {
    transform: scale(1.07);
  }
  input[type="button"]:hover {
    transform: scale(1.07);
  }
  #myLogo1 {
    position: absolute;
    margin-top: -210px;
    margin-left: 530px;
    width: 150px;
    height: 150px;
  }
  .B {
    color: tomato;
  }
  .socialMedia {
    position: absolute;
    color: tomato;
    margin-top: -270px;
    margin-left: 550px;
    font-size: 20px;
  }
  #separator5 {
    width: 100%;
    height: 20vh;
    margin-top: 565px;
  }
  #mainPage {
    position: absolute;
    text-decoration: none;
    color: tomato;
    font-family: "Permanent Marker", cursive;
    font-size: 18px;
    margin-top: 15px;
  }
  footer {
    background-image: url("https://fridakahlocorporation.com/wp-content/themes/kahlo/DSS/img/bg-pattern-blue.png");
    width: 100%;
    height: 650px;
    margin-top: 250px;
  }